# .npmrc

# public npm registry
registry=https://registry.npmjs.org/

# public verdaccio instance
@sandbox:registry=http://189.122.100.39:4873/

# local verdaccio server
@gec.js:registry=http://192.168.0.124:4873/

# gitlab da accenture
@accenture:registry=http://accenture.innersource.com

# gitlab da Cielo
@cielo:registry=http://cielo.gitlab.com

